body {
    width: 100%;
}
.jox_logo {
    display: flex;
    justify-content: center;
}

.portal {
    width: 35%;
    height: 500px;
    background-color: #EBEBEB;
    margin-left: 70px;
    margin-top: 30px;
   
}

h1 {
    padding-top: 30px;
    font-size: 25px;
}

.jambreg {
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
    height: 39px;
    border: 1px solid black;
    position: static;
}



.email {
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
    height: 39px;
    border: 1px solid black;
}

.proceed {
    margin-top:30px;
    width: 300px;
    height: 34px;
    background-color: #9AE6E6;

}

.proceed a {
    text-decoration: none;
}

.signin {
    margin-top: 30px;
    width: 300px;
    height: 34px;
    background-color: blueviolet;
}
.signin {
    margin-top: 20px;
}

.signin a {
    text-decoration: none;
}

.log {
    margin-left: 50px;
}

.students {
    width: 35%;
  
    position: absolute;
    right: 100px;
    top: 170px;
}